 .social-link-list {
    gap: 1px;
    justify-content:space-around;
  }

  .social-link-list .social-link {
    color: #422128;
    font-size: 1.5rem;
    transition: 0.2s ease;
  }

 .social-link-list .facebook-icon:hover {
    color: #007bff;
  }

  .social-link-list .instagram-icon:hover {
    color: #fe0b0b;
  }

  .social-link-list .x-icon:hover {
    color: #d7c715;
  }