

.footer-section {
    padding: 20px 0;
    background: rgb(228, 228, 228);
  }

  .footer-section .section-content {
    align-items: center;
    justify-content: space-between;
  }
  .footer-section .social-link-list{
    width: 150px;
  }
  
  .footer-section .policy-text .policy-link:hover {
    color:#007bff;
  }

  .footer-section .policy-text .separator {
    margin: 0 5px;
  }